*.Makefile
*.a
*.mk
*.o
*.sln
*.vcproj
.deps
.dirstamp
Makefile
Makefile.in
autom4te.cache
autotools/config.guess
autotools/config.sub
config.log
config.status
configure
gyp-win-tool
src/config.h
src/stamp-h1
